<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>YelpCamp</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">YelpCamp</a>
        
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <% if(!user){ %>
                        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">Sign Up</a></li>    
                    <% } else { %> 
                    <li class="nav-item"><a class="nav-link">Signed in as <%= user.username %> </a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length >0){ %> 
            <div class="alert alert-danger" role="alert"><%= error %> </div>
        <% } %> 
        <% if(success && success.length >0){ %> 
            <div class="alert alert-success" role="alert"><%= success %> </div>
        <% } %> 
    </div>